<nav>
	<h2><a href="/">OnlyMembers</a></h2>
	<ul>
		<% if(user) { %>

		<li id="username">
			@<%= user.username %>
			<span id="membership" info="<%= user.membershipInfo %>">
				(<%= user.membership %>)
			</span>
		</li>
		<li id="logout"><a href="/logout">Logout</a></li>

		<% if(user.membership === 'non-member') { %>
		<li><a href="/upgrade">Become a member</a></li>

		<% } else if(user.membership === 'member' || user.membership ===
		'admin') { %>
		<li><a href="/post">Post</a></li>

		<%}} else { %>

		<li><a href="/login">Log in</a></li>
		<li><a href="/register">Register</a></li>

		<% } %>
	</ul>
</nav>
