<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head', {title}) %>
	<body>
		<%- include('partials/nav', {user}) %>
		<main>
			<h1>Become a member</h1>
			<% if(user.membership === 'member' || user.membership === 'admin'){
			%>
			<p>Already a member</p>
			<% } %> <% if(user.membership === 'non-member') { %>
			<p>To become a member, enter the supersecret password</p>
			<form action="/upgrade" method="POST">
				<label for="password"></label>
				<input type="password" name="password" required />
				<button type="submit">Submit</button>
			</form>

			<% if(errors.length > 0) { %>
			<ul>
				<% errors.forEach(error => { %>
				<li><%= error %></li>
				<% })%>
			</ul>
			<% } %> <% } %>
		</main>
	</body>
</html>
