/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: rgb(54, 74, 255);
	display: flex;
	color: white;
	justify-content: space-between;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

nav a {
	text-decoration: none;
	color: white;
}

main {
	background-color: rgb(255, 255, 255);
} */
